In [3]:
import pandas as pd
import numpy as np
from pathlib import Path

# Resolve repo root (works when running from malca/notebooks)
HERE = Path.cwd().resolve()

def find_repo_root(start: Path) -> Path:
    for p in (start, *start.parents):
        if (p / "pyproject.toml").exists() and (p / "malca").is_dir():
            return p
    return start

REPO_ROOT = find_repo_root(HERE)
directory = REPO_ROOT / "input" / "skypatrol2"

if not directory.exists():
    raise FileNotFoundError(f"Missing directory: {directory}")

files = sorted(directory.glob("*.csv"))

results = []
for filepath in files:
    df = pd.read_csv(filepath, comment="#")  # Skip comment lines starting with #

    # Sort by JD and calculate gaps
    jd_sorted = df["JD"].sort_values().values
    gaps = np.diff(jd_sorted)

    p99 = np.percentile(gaps, 99.73)
    results.append({
        "filename": filepath.stem.replace("-light-curves", ""),
        "n_points": len(df),
        "p99_gap_days": p99,
    })

results_df = pd.DataFrame(results)
results_df

        filename  n_points  p99_gap_days
0   120259184943      1970     89.344004
1   223339338105      1755     91.050459
2   231929175915      1380    109.119571
3    25770019815      1562     97.111992
4   266288137752      1826     98.412852
5   317827964025      1182    114.415481
6   326417831663      1819    106.957149
7   335007754417      4032     56.722017
8   352187470767      2659     50.932327
9   360777377116      2658     70.734517
10  377957522430      1361    118.675464
11  377958261591      4534     22.677630
12  412317159120      2294     86.813522
13  438086901547      1221    112.861103
14  438086977939      1284     88.914118
15  455267102087      1059    108.512003
16  463856535113      2294     90.669491
17  472447294641      1447    100.141730
18  515396514761      2298     97.566149
19  515397118400      2418     72.460540
20  532576686103      1464     71.466779
21  601296043597      2610     67.177201
22   60130040391       851    123.249663
23  609886184506      2308     77.209243
24  635655234580      1366     88.827983
25  644245387906      1447    102.380321
26  661425129485      1220    103.230113
27   68720274411      1430    104.314299